
        <!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Fox - removed title as it overrides the titles for other pages -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css"/>
        <link rel="stylesheet" href="/form.css"/>
	    <script src="http://SortableJS.github.io/Sortable/Sortable.js"></script>
       <!-- <script src = "/dNd.js"></script> -->


      

    </head>

    <body>
        <!-- Fox added extra {} brackets -->
        {{{body}}}
    </body>

</html>