<title>Toodles Home</title>
<!-- Fox added favicon, for some reason only works when in home and not main -->
 <link rel='icon' href='/Public/Favicon.ico'>
<div class="Welcome">
<h1>Toodles</h1>
<h3>Get stuff done</h3>
<br>
<button><a href="/boards">Go to projects</a></button>
</div>

<div class="Welcome">
<h3>Collaborate with ease</h3>
<h4>Just Drag & Drop</h4>
</div>

<div class="Welcome">
<h3>Created by</h3>
<br>
<h4>James</h4>
<br>
<h4>Tosin</h4>
<br>
<h4>Fox</h4>
</div>