
<title>Landing page and Projects</title>
    
    <!-- Display Logged in username -->



    <p>Logged in as: </p>
    <p>Collaborators:  </p>


    <!-- if the username has projects show them here, 
    and make them clickable-->

<section><h1>  </h1></section>

    <!-- Log out -->

    <!-- Add Project -->
    
    <!-- Delete Project -->
