<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page and Projects</title>
</head>
<body>
    <!-- Display Logged in username -->

    <p>Logged in as: </p>

    <!-- if the username has projects show them here, 
    and make them clickable-->

<section><h1>  </h1></section>

    <!-- Log out -->

    <!-- Add Project -->
    
    <!-- Delete Project -->
</body>
</html>