<title>Landing page and Projects</title>
    
    <!-- Display Logged in username -->

    <p>Logged in as: </p>
    <p>Collaborators:  </p>


    <!-- if the username has projects show them here, 
    and make them clickable-->

{{#each projects}}
<!-- Add stuff for projects here -->
<section>
    <h1>{{this.name}}</h1>
    <a href="/boards/{{this.id}}"> Go to project </a>
</section>


    <!-- Log out -->

    <!-- Add Project -->
    
    <!-- Delete Project -->
{{/each}}