
<h1>{{project.name}}</h1>

{{#each columns}}



{{/each}}
<!--columns 
Project Title -->
    <title>Tasks</title>

	<div class="container" >
        <!--
		<div class="box todo">
			<div class="box-sub">
				<form id="myForm">
					<i class="fa fa-plus"> </i>
				</form>
			</div>
			<div class="tasks" id="lists">
			</div>
		</div> -->


	<div class="box" >
			<div class="box-sub" >To do</div>
			<div id="working" class="tasks" >
            <p class="draggable"> 123</p>
			<p class="draggable"> 123</p>
			<p class="draggable"> 123</p>
			<p class="draggable"> 123</p>
			<p class="draggable"> 123</p>
			</div>
            
		</div>


	<div class="box">
			<div class="box-sub">In Progress</div>
			<div id="working" class="tasks">                
			</div>
		</div>

        	<div class="box">
			<div class="box-sub">Finished</div>
			<div id="working" class="tasks">                
			</div>
		</div>

	</div>

<script>
	
	
	const draggables = document.querySelectorAll('.draggable')
	console.log(draggables)
	const containers = document.querySelectorAll('.box')
	console.log(containers)

	draggables.forEach(draggable => {

    	draggable.addEventListener('dragstart', () =>{
        console.log("drag")
		draggable.classList.add('dragging')

    	})

		draggable.addEventListener('dragend', () => {
        draggable.classList.remove('dragging')
    	})
    })

	containers.forEach(container => {
    container.addEventListener('dragover', e => {
    e.preventDefault()
    const draggable = document.querySelector('.dragging')
    container.appendChild(draggable)
      //  console.log('dragging over')
    })
})

</script>
