
<h1>{{project.name}}</h1>
<!-- Logged in as -->
<!-- Collaborators -->


<!--
{{#each columns}}


{{/each}}

{{#each this.tasks}}
{{/each}} -->
<!--columns 
Project Title -->
    <title>Tasks</title>

	<div class="container" >
        <!--
		<div class="box todo">
			<div class="box-sub">
				<form id="myForm">
					<i class="fa fa-plus"> </i>
				</form>
			</div>
			<div class="tasks" id="lists">
			</div>
		</div> -->
{{#each columns}}
<div class="box working">
			<div class="box-sub">{{this.name}}</div>
			<div id="working" class="tasks">    
				{{#each this.tasks}}   
			<div id="grabbable">
				<p> {{this.name}}</p>  
				 <p>{{this.description}}</p>
			</div>

				
				{{/each}} 
			</div>
		</div>
{{/each}}

	<div class="box working">
			<div class="box-sub">In Progress</div>
			<div id="working" class="tasks">                
			</div>
		</div>

        	<div class="box working">
			<div class="box-sub">Finished</div>
			<div id="working" class="tasks">                
			</div>
		</div>

	</div>


