
<h1>{{project.name}}</h1>

{{#each columns}}



{{/each}}
<!--columns 
Project Title -->
    <title>Tasks</title>

	<div class="container" >
        <!--
		<div class="box todo">
			<div class="box-sub">
				<form id="myForm">
					<i class="fa fa-plus"> </i>
				</form>
			</div>
			<div class="tasks" id="lists">
			</div>
		</div> -->


	<div class="box working" >
			<div class="box-sub" >To do</div>
			<div id="working" class="tasks" >
            <p id=grabbable> 123</p>
			</div>
            
		</div>


	<div class="box working">
			<div class="box-sub">In Progress</div>
			<div id="working" class="tasks">                
			</div>
		</div>

        	<div class="box working">
			<div class="box-sub">Finished</div>
			<div id="working" class="tasks">                
			</div>
		</div>

	</div>


