
*{
	margin: 0px;
	padding: 0px;
}
body{
    /*background: linear-gradient(to right, rgb(206, 9, 206), rgb(13, 13, 177));*/
    background-color: #ffe680ff;
	font-family: Georgia;
}
.container{
	width: auto;
	height: auto;
    display: flex;
    align-items: center;
    margin-top: 50px;
	justify-content: center;
	flex-wrap: wrap;
	flex-basis: center;
	flex-direction: row;
}



.filter-container {
	margin-top: 2vw;
	display: flex;
	width: auto;
  	flex-direction: row;
  	align-items: center;
	justify-content: center;

  }
.filter{
	width: 52vw;
	height: 45px;
    margin-right: 20px;
    
}
.search {
	width: 100px;
	height: 45px;
	background: linear-gradient(to right, black, grey);
	color: white;
}

.box{
	overflow-x: scroll;
	overflow-y: scroll;
	width: 320px;
	height: 700px;
	box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.274);
	background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0.959));
	text-align: center;
	margin: 25px auto;
	transition: all 0.5s;
}

.card{
	width: 300px;
	height: auto;
	min-height: 40px;
	margin-top: 15px;
	justify-content: center;
	text-align: center;
	margin-left: 10px;
	box-shadow: 0px 0px 7px 3px rgb(27, 144, 211);
}
.card button {
	float: right;
	width: auto;
	padding: 0.2rem;
	background: linear-gradient(to bottom, rgb(66, 58, 58), rgb(20, 20, 22));
	color: white;
}

.draggable {
    background-color: rgb(232, 238, 238);
    border: 1px solid black;
}

.dragging {
	opacity: 0.5;
	cursor: move;
}

.box-sub{
	overflow-x: auto;
	width: 100%;
	height: 60px;
	background-color: rgba(12, 11, 12, 0.5);
    display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	font-weight: 500;
	color: white;
}

.draggable{
    margin: 10px;
    padding: 1rem;
    background-color: lightgrey;
    border: 1px solid white;
    cursor: grab;
}

.draggable.dragging{
    opacity: .5; /*changes opacity of item being dragged*/
}

button {
    border-radius: 5px;
	font-family: Georgia;
	background-color:lightgray;

}

/* Fox - not required
.c1{
	background: linear-gradient(to top, red, orange, white);
	box-shadow: 0px 0px 10px 2px red;
}
*/
.plusIcon{
  position: relative;
  left: 100px;
  cursor: default;
  margin: 20px;
}

.addFormContainer{
	width: 300px;
	height: 450px;
	background-color:yellow;
	position: absolute;
	z-index: 100;
	display: none;
}

.plusIcon:hover {
	color: yellow;
}


.forms{
	margin: 25%;
}

/* ADD custom scrollbar */


article {
   /* border: solid 1px black;*/
	border-radius: 5px;
	background-color: white;
    margin: 10px 10px; 

	/*max-width: 500px;*/  
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}


.Welcome {
max-width: 500px;
min-width: 100px;
padding: 20px 20px 20px 20px;
/*width: 300px;
height: 100px;*/
margin-left: auto;
margin-right: auto;
margin-top: 50px;

text-align: center;
background-color: white;
border-radius: 15px;
box-shadow: -3px 2px rgba(0, 0, 0, 0.205);

}

/*Fox - Removes underline from links */
a {text-decoration: none;}
