* 

h1 {
    font-family: "Georgia";
    color: black;
}

p {
    font-family: "Georgia";
    color: black;
}

a {
    font-family: "Georgia";
    color: black;
}

body {
    background-color: #ffe680ff;
}

div {
    border-radius: 25px;
    box-shadow:rgba(0, 0, 0, 0.274) -5px,5px;
    padding: 10px;
}

.button {
    border-radius: 25px;
}